/** * Eric Meyer's Reset CSS v2.0 (http://meyerweb.com/eric/tools/css/reset/) * http://cssreset.com */html, body, div, span, applet, object, iframe,h1, h2, h3, h4, h5, h6, p, blockquote, pre,a, abbr, acronym, address, big, cite, code,del, dfn, em, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td,article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,time, mark, audio, video {    margin: 0;    padding: 0;    border: 0;    font-size: 100%;    font: inherit;    vertical-align: baseline;}/* HTML5 display-role reset for older browsers */article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {    display: block;}body {    line-height: 1;}ol, ul {    list-style: none;}blockquote, q {    quotes: none;}blockquote:before, blockquote:after,q:before, q:after {    content: '';    content: none;}table {    border-collapse: collapse;    border-spacing: 0;}
body{
   
    width:100%;
    height:2000px;
    position: relative;
}
a{
    text-decoration: none;
}
img{
    vertical-align: middle;
}
.nikeTop_container{
    width:100%;
    height:108px;
    position: fixed;
    top:0;
    z-index: 2;
    background: #fff;
    
}
.nikeTop{
    border-bottom:1px solid #e5e5e5;
    width:100%;
    height:39px;
}
.nikebot{
    border-bottom:1px solid #e5e5e5;
    height:67px;
}
.thrlogo{
    position: relative;
}
.thrlogo li{
    float:left;
    text-align: center;
    height:39px;
    line-height: 39px;
    border-right:1px solid #e5e5e5;
}
.fir{
    width:114px;  
}
.thrlogo a{
    color:#8d8d8d;
    font-size: 14px;
}
.thrlogo .fir a:hover{
    color:#000;
}
.aj{
    width:80px;
}
.aj a:hover{
    color:#db2531
}
.aj .iconfont{
    font-weight: 600
}
.converse{
    width:130px;
}
.converse a{
    font-weight: 900;
    font-size: 12px;
}
.converse a:hover{
    color:#000;
}
.topRight{
    float:right;
    margin-right:25px;
}
.topRight>li{
    float:left;
    line-height: 39px;
}
.topRight>li>a{
    color:#8d8d8d;
    font-size: 12px;
    display: block;
    padding:0 10px;
}

/* ----------------------小二级导航start------------------------- */
.help{
    position: relative;
}
.help:hover{
    border-bottom:2px solid #000;
}
.helptwo{
    display:none;
    position: absolute;
    top:41px;
    left:-35px;
    border:1px solid #e5e5e5;
    width:48px;
    line-height:24px;
    z-index: 999;
    background: #fff;
    font-size:12px;
    padding:26px 32px 25px;
    border-top:none;   
}
.helptwo a{
    color:#000;
}
.help>.helptwo a:hover{
    color:#8d8d8d
}
/*---------------------------------- 小二级导航end------------------------------------ */


.topRight .iconfont{
    font-size: 19px;
}
.topRight .China{
    font-size:10px;
    color:red
}
.topRight li a:hover{
    color:#000;
}
.nikebot{
    line-height: 67px;
    position: relative;
}
.logo{
    height:67px;
    width: 150px;
    float:left;
}
.nav{
    float:left;
    margin-left:240px;
    margin-top:-4px;
    
}
.nav li {
    float:left;
    box-sizing: border-box;
    margin-top:1px;
}
.nav li a{
    color:#000;
    padding:0 20px;
    font-family:  OneNikeCurrency,'TradeGothicW01-BoldCn20 675334',Helvetica,Arial,'Heiti SC','ST Heiti',华文黑体,'Microsoft YaHei',雅黑体,SimHei,黑体,sans-serif;
    font-size:16px;
    font-weight: 400;
}
.nav >li:hover{
    border-bottom: 2px solid #000;
}
.search-wrap{
    float:right;
    margin-right:35px;
    width:194px;
    height:35px;
    margin-top:9px;
    position: relative;
    border:1px solid #e5e5e5;
    border-radius: 2px;
}
 #search{
     position: absolute;
     top:9px;
     left:30px;
     width:146px;
     outline: none;
     border:0;
 }
 .search-wrap i{
    position: absolute;
    top:-16px;
    left:12px;
    height:20px;
    font-weight: bold
 }

#list{
    padding-top:20px;
    
}
 #list li{
     width:194px;
     height:20px;
     font-size:12px;
     color:#000;
 }
 

/*------------------------- 二级导航start------------------------------ */
.newspring{
    width:100%;
    height:90px;
    position: absolute;
    top:100%;
    left:0;
    background:#fff;
    border:1px solid #e5e5e5;
    display: none;
}

.men{
    width:100%;
    height:350px;
    position: absolute;
    top:100%;
    left:0;
    background:#fff;
    border:1px solid #e5e5e5;
    display: none;
    padding-top:40px;
    padding-left:300px;
    
    
}
.men div{
    float:left;
}
 .men ul{
    float:left;
}
.men ul li{
    clear:both;
    line-height: 25px;
    font-size:8px;
    
}
.nav ul li a{
    font-size: 14px;
}
.nav ul li a:hover{
    color:#aaa;
}
.nav .first a{
    font-size: 16px;
}
.men-mid,.women-mid{
    margin:0 50px;
    border-left:1px solid #e5e5e5;
    border-right:1px solid #e5e5e5;
    padding:0 30px;
}
.women{
    width:100%;
    height:370px;
    position: absolute;
    top:100%;
    left:0;
    background:#fff;
    border:1px solid #e5e5e5;
    display: none;
    padding-top:40px;
    padding-left:300px;
}
.women div{
    float:left;
}
 .women ul{
    float:left;
}
.women ul li{
    clear:both;
    line-height: 25px;
    font-size:8px;
    
}

.boy{
    width:100%;
    height:320px;
    position: absolute;
    top:100%;
    left:0;
    background:#fff;
    border:1px solid #e5e5e5;
    display: none;
    padding-top:40px;
    padding-left:360px;
}

.girl{
    width:100%;
    height:270px;
    position: absolute;
    top:100%;
    left:0;
    background:#fff;
    border:1px solid #e5e5e5;
    display: none;
    padding-top:40px;
    padding-left:360px;
}

.ding{
    width:100%;
    height:250px;
    position: absolute;
    top:100%;
    left:0;
    background:#fff;
    border:1px solid #e5e5e5;
    display: none;
    padding-top:40px;
    padding-left:360px;
}


.chaopin{
    width:100%;
    height:90px;
    position: absolute;
    top:100%;
    left:0;
    background:#fff;
    border:1px solid #e5e5e5;
    display: none;
}
/*--------------------- 二级导航end -----------------------------------*/
 


/* ---------------轮播图------------ */
.banner-container{
    width:100%;
    height:60px;
    background:#f7f7f7;
    border-bottom:1px solid #e5e5e5;
    position: relative;
    margin-top:108px;
}
.container-banner{
    width:653px;
    height:60px;
    background:#f7f7f7;
    margin:0 auto;
    position: relative;
    overflow: hidden;
}
#left{
    width:25px;
    height:25px;
    position: absolute;
    font-size:25px;
    top:16px;
    left:260px;
    font-family:"宋体";
    font-weight: bold;
}
#right{
    width:25px;
    height:25px;
    position: absolute;
    font-size:25px;
    top:16px;
    right:260px;
    font-family:"宋体";
    font-weight: bold;
}
.wrap-banner{
    width:1959px;
    margin:0 auto;
    height:60px;
    position: relative;
    
}
#left:hover{
    cursor: pointer;
}
#right:hover{
    cursor: pointer;
}
.slider-banner{
    float:left;
    width:653px;
    height:60px;
}
.slider-banner span{
    display: inline-block;
    width:310px;
    text-align: center;
    font-size:11px;
    line-height: 1.2em;
}
.word{
    margin-top:18px;
    margin-left:150px;
}
.linkone{
    position: absolute;
    top:25px;
    left:335px;
}
.linktwo{
    position: absolute;
    top:25px;
    left:990px;
}
.linkthe{
    position: absolute;
    top:25px;
    left:1645px;

}
.slider-banner span:nth-child(2) a{
    display: inline-block;
    font-size: 12px;
    color: #000;
    border-bottom:2px solid #000;
    
}
.slider-banner span:nth-child(2) a:hover{
    color:orangered;
}
/*--------------------------- 轮播图end------------------------------ */


/* -------------------------侧导航start--------------------------- */
.zkuai{
    width:100%;
    min-height:2000px;
    /* background: pink; */
}

.nav-ce{
    width:218px;
    float:left;
    position:sticky;
    top:107px;
    margin-left:33px;
    margin-top:85px;
    
}

.nav-ce-top{
    width:218px;
    height:162px;
    border-top:1px solid #e5e5e5;
}

.content-title{
    font-size:13px;
    font-weight:bold;
    height:44px;
    line-height: 65px;
}

.content-style{
    height: 24px;
    line-height: 24px;
    margin-left:16px;
}
.content-style a{
    color:#000;
    font-size:13px;
}
.content-style a:hover{
    color:#8d8d8d
}


.nav-ce-bot{
    height:345px;
    border-top:1px solid #e5e5e5;
    width:218px;
}

.content-stylebot{
    margin-top:18px;
    line-height: 24px;
    
}
  
.content-stylebot a{
    color:#000;
    font-size:13px;
}
.content-stylebot a:hover{
    color:#8d8d8d
}

.color{
    height:200px;
    border-top:1px solid #e5e5e5;
    width:218px;
}

.content-color{
    margin-top:18px;
    line-height: 24px; 
}
.content-color li{
    float:left;
}
  
.content-color a{
    display:block;
    width:25px;
    height:25px;
    border-radius: 12.5px;
    font-size:13px;
    margin-right:10px;
    margin-bottom:10px;
}
.a a{
    background: red
}
.bb a{
    background: #345;
}
.c a{
    background:#125
}
.d a{
    background: #098;
}
.e a{
    background: #859
}
.f a{
    background: #309
}
.gg a{
    background: #0ff
}
.h a{
    background: #fcc
}
.i a{
    background: yellow
}
.j a{
    background: pink
}
.k a{
    background: black
}
.mm a{
    background: #898989
}

.color-title{
    font-size:16px;
    padding-top:15px;
}


.chima{
    height:250px;
    border-top:1px solid #e5e5e5;
    width:218px;
}

.content-chima{
    margin-top:18px;
    line-height: 24px; 
}
.content-chima li{
    float:left;
}
  
.content-chima a{
    display:block;
    width:30px;
    height:30px;
    border:1px solid #aaa;
    font-size:10px;
    margin-right:10px;
    margin-bottom:10px;
    color:#000;
    text-align: center;
    line-height: 30px;
}
.content-chima a:hover{
    color:#fff;
    background:#000;
    
}
.chima-title{
    font-size:16px;
    padding-top:15px;
}

/*------------------- 侧导航结束------------------------- */




/*--------------------------- 主题内容start---------------------------- */
.zhuti{
    width:1050px;
    float:right;
    position: relative;
}
.fm-image{
    background: url(../img/list_img/181203_MENAPP_PWH_PC.jpg);
    width: 1050px;
    height:361px;
}
.fm-image div{
    float: left;
    cursor: pointer;
}
.fm-image .one{
    width:330px;
    height:290px;
    /* background: red; */
    margin-top:35px;
}
.fm-image .two{
    width:350px;
    height:290px;
    /* background: red; */
    margin-top:35px;
    margin-left:20px;
}
.fm-image .thr{
    width:330px;
    height:290px;
    /* background: red; */
    margin-top:35px;
    margin-left:20px;
}



/* ------------------图片展示内容区------------------- */
.show-title{
    width:940px;
    height:80px;
    /* background: green;  */
    overflow: hidden;
    
}
.show-title div{
    margin-top: 30px;
}
.show-title-left{
    float:left;
    font-size: 24px;
}
.sort{
    width:100px;
    height:30px;
    float: right;
    border:1px solid #e5e5e5;
    text-align: center;
    line-height: 30px;
    cursor: pointer;
    
}
.sortbot ul{
    width:100px;
    height:90px;
    padding:20px;
    /* background: red; */
    position: absolute;
    z-index: 1;
    line-height: 22px;
    top:422px;
    left:798px;
    text-align: left;
    border:1px solid #e5e5e5;
    opacity: 0;
    transition: 0.5s;
    font-size: 12px;
}
.sortbot ul li a{
    color:#000;
}
.sortbot ul li a:hover{
    color:#aaa;
}



/* -------------------------尾部start------------------ */
.weibg{
    width:100%;
    height:231px;
    background: url(../img/index_img/weibg.jpg);
    overflow: hidden;
    position: relative;
}
.weibg p{
    text-align: center;
    margin:20px auto;
    font-size:28px;
    color:#333;
}
.weibg .zixun{
    text-align: center;
    margin:0 auto;
    font-size:15px;
    color:#aaa
}
.weibg .dingyue{
    margin-top:105px;
    text-align: center;
    font-size: 15px;
    font-family: OneNikeCurrency,'TradeGothicW01-BoldCn20 675334',Helvetica,Arial,'Heiti SC','ST Heiti',华文黑体,'Microsoft YaHei',雅黑体,SimHei,黑体,sans-serif;
}
.dingyue a{
    color:#000;
}
.dingyue a span{
    font-weight: bold
}
.dingyue i{
    font-weight: bold
}
.dingyue a:hover{
    text-decoration: underline
}
.weibg .add{
    width:20px;
    height:20px;
    border:2px solid #bbb;
    background:#ddd;
    font-size: 25px;
    text-align: center;
    line-height: 20px;
    border-radius: 10px;
    position: absolute;
    top:155px;
    left:710px;
    transition: 1s;
}
.add:hover{
    background: #bbb;
}
.add a{
    color:#bbb;
}
.add a:hover{
    color:#000;
}


.bottom-container{
    width:100%;
    height:300px;
    background:#222222;
    overflow: hidden;
}

.bot-nav{
    width:940px;
    height:156px;
    margin:35px auto;
}

.bot-nav ul{
    float:left;
    width:140px;
}
.bot-nav ul li{
    line-height: 25px;
    font-size:13px;
}
.bot-nav ul li a{
    color:#999;
}
.bot-nav ul li a:hover{
    color:#fff;
}
.tubiao{
    float:right;
}
.tubiao a{
    color:#000;
}
.tubiao .iconfont{
    font-size:24px;
}
.tubiao i:nth-child(1) a{
    font-size:27px;
}
.tubiao a:hover{
    color:#fff;
}
.ewm img{
    margin-left:330px;
    display: none;
}
.luokuan{
    width:940px;
    height:90px;
    border-top:1px solid #666;
  
    margin:0 auto;
}
.luokuan .top{
    height:30px;
    margin-top:10px;
}
.top div{
    float:left;  
}
.top .left{
    font-size:12px;
}
.top .left i{
    font-size:8px;
    color:red;
}
.top .left .dalu a{
    color:#e5e5e5
}
.top .middle{
    margin-left:180px;
}
.top .left .n-two{
    color:#aaa;
}
.top .middle ul li{
    float:left;
    font-size:12px;
    margin:0 10px;
}
.top .right{
    float:right;
    margin-top:-5px;
}
.top .middle a{
    color:#aaa;
}
.top .middle a:hover{
    color:#e5e5e5;
}
.right a span{
    color:#e5e5e5;
    font-size:12px;
}
.bot{
    float:right;
}
.bot a span{
    font-size:14px;
    color:#aaa;
}
.bot a span:hover{
    color:#e5e5e5;
}
